html,
body {
  height: 100%;
  background: none transparent;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

main {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}